* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* det blir benyttet flexbox her og utover oppgaven, fordi flexbox
    er lettere og mer oversiktlig å bruke.
    https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
*/
/* styler kalender */
.calendar {
    width: 375px;
    height: 812px;
    background-color: #10a15d;
    margin: auto;
    box-sizing: border-box;
}
/* styler måned display */
.month {
    width: 100%;
    height: 100px;
    background-color: #5ab088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    text-align: center;
}

.month i {
    font-size: 40px;
    cursor: pointer;
}

.month h1 {
    font-size: 36px;
   font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
}

/* styler ukedager, og lager en flexbox */
.weekdays {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

/* styler selve dagene, mon, tue, wed osv */
.weekdays div {
    font-size: 20px;
    font-weight: 400;
    width: calc(375px/7);
    display:flex;
    justify-content: center;
    align-items: center;
}

/* styler dagene i en flexbox */
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* styler selve dagene og hvordan de skal se ut i flexboxen */
.days div {
    padding-top: 50px;
    font-size: 22px;
    margin: 5px;
    width: calc(305px/7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    transition: background-color .2s;
}

/* ikke særlig relevant mtp at dette er en app, men greit å se en pointer
    siden dere skal bruke nettleser */
.days div:hover:not(.today) {
    background-color: #1d5935;
    cursor: pointer;
}

/* gjør at dager fra forrige måned eller imøtekommende måned, har litt opacity på seg */
.prev-date,
.next-date {
    opacity: 0.6;
}

/* markerer for selve dagen vi er i */
.today {
    background-color: #3c9170;
}

