* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styler for hvordan selve siden skal se ut.
    der blir benyttet flexbox her og utover oppgaven, fordi flexbox
    er lettere og mer oversiktlig å bruke.
    https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox
*/

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #96f8f7 , #26a66a) ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    width: 375px;
    height: 812px;
    background-color: #10a15d;
}

.month {
    width: 100%;
    height: 100px;
    background-color: #5ab088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    text-align: center;
}

.month i {
    font-size: 40px;
    cursor: pointer;
}

.month h1 {
    font-size: 36px;
   font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.weekdays {
    width: 100%;
    height: 60px;
    padding: 0 6px;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 20px;
    font-weight: 400;
    width: calc(375px/7);
    display:flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days div {
    font-size: 22px;
    margin: 5px;
    width: calc(305px/7);
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    transition: background-color .2s;
}

.days div:hover:not(.today) {
    background-color: #1d5935;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.6;
}

.today {
    background-color: #3c9170;
}

nav{
    height: 55px;
    width: 100%;
    background: #4db88e;
    text-align: center;
    position: absolute;
    bottom: 0;
}

ul{
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 7px 5px 5px 0;
    font-size: 0.8em;
}

ul:hover {
    background-color: #74ae96;
}

ul:active {
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}

ul:active{
    background-color:#74ae96;

}
ul img {
    width: 25px;
    height: 25px;
}


