
form {
    width:200px;
    padding:20px;
    height: max-content;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #6CE0B0;
    box-sizing: border-box;
    border: aqua;
    border-radius: 10px;

}

input {
    margin-bottom: 50px;
}