/* Styler innholdet*/
#content {
    width:300px;
    height: max-content; /* Justerer høyden sånn at den slutter etter siste element i content*/
    padding: 20px 20px 20px 20px; /* top, right, bottom, left*/
    margin:auto;
    background-color: #6CE0B0;
    box-sizing: border-box;
    text-align: left;

}
/* Styler overskriften "Register organisation" og "Register new event"*/
#overskrift {
    font-size: 1.2em;
    font-weight: bold;
    width:265px;
    padding-bottom: 40px;

}
/* Styler labels og input elementene i form */
/* Kode hentet fra https://w3bits.com/labs/css-floating-labels/ og view-source:https://w3bits.com/labs/css-floating-labels/ */
/* Making the label break the flow */
.floating-label {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    z-index: 1500; /* Elementer med z-index avgjør hva som overlapper hverandre. Høyt tall legger seg over lavere tall*/
}

/* Hide the browser-specific focus styles */
.floating-label-field {
    color: black;
    border-width: 0;
    z-index: 2000;
}
.floating-label-field:focus {
    outline: 0;
    box-shadow: 0 0;
}
.floating-label-field::placeholder {
    color: transparent;  /* Med dette designet må placeholder være her, men vi vil ikke se det når vi bruker transparent*/
}

/* Make the label and field look identical on every browser */
.floating-label, .floating-label-field {
    font: inherit;
    display: block;
    width: 250px;
}

.floating-label-field, .floating-label-wrap {
    position: relative;
}
.floating-label-wrap{
    padding-bottom: 50px;
}
/* Styler labels og input slik at det er en svart linje under labelen*/
.floating-label-field-style {
    padding-left: 10px;
    color: black;
    border: none;
    width:250px;
    border-bottom: 2px solid black;
    background-color: transparent;
}
/* Flytter label opp sånn at man kan skrive i input feltet*/
.floating-label-field-style:focus + .floating-label,
.floating-label-field-style:not(:placeholder-shown) + .floating-label {
    z-index: 2500;
    transform: translate(0, -15px); /* Flytter label opp 15px*/
    color: black;
    background-color: transparent;
}
/* Animerer flytting av label*/
.floating-label-field-style + .floating-label {
    position: absolute;
    top: -10px;
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    transition: transform .25s, opacity .25s, padding .25s ease-in-out; /*Gjør flyttinging av label mykere. Uten denne ville label bare "hoppet" opp.*/
    transform-origin: 0 0;
    color: black;
}

p{
    font-weight: bold;
    padding-bottom: 30px;
}
/* Styler knappen i form */
#btn {
    background-color: transparent;
    font-family: Helvetica,sans-serif;
    width: 100%;
    height: 50px;
    border: 2px solid Black;
    border-radius: 10px;
    margin-bottom: 20px;
}
#btn:active{
    background-color: transparent;
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border: 3px solid Black;
    border-radius: 10px;
    margin-bottom: 20px;
}



