/* Gjør sånn at det ikke blir en hvit kant lang sidene på nettleseren*/
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
/* Styler bakgrunnen*/
#main{
    background: linear-gradient(to bottom, #96f8f7 , #26a66a); /*Gjør bakgrunnen går fra en farge til en annen*/
    width: 100%;
    height: calc(100% - 130px); /*Justerer høyden slik at den ikke er lengre en navigasjonsfeltet nederst på appen*/
    position: absolute;
    top: 70px;
    overflow: auto;
    text-align: center;
}
/* Styler bakgrunnen til reg-event.html og regorg.html*/
.main{
    background: linear-gradient(to bottom, #96f8f7 , #26a66a); /*Gjør bakgrunnen går fra en farge til en annen*/
    width: 100%;
    height: calc(100% - 60px); /*Justerer høyden slik at den ikke er lengre en navigasjonsfeltet nederst på appen*/
    position: absolute;
    overflow: auto;
    text-align: center;
}
/* Styler feltet med søkebar og pluss knapp*/
header {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
    background-color: #96f8f7;
    height: 70px;
}

header input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
    display: flex;
}

.addeventbutton {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: none;
    background-size: cover;
    background-image: url("../icons/addevent.png");  /*Legger inn bilde av et plusstegn*/
    display: flex;
}
/* Styler navigasjonsbaren*/
nav{
    height: 60px;
    width: 100%;
    background: #4db88e;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* Gjør navbar knappene til sirkler og styler dem*/
ul{
    /* border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 7px 5px 5px 0;
    font-size: 0.8em;
}

ul:hover {
    background-color: #74ae96;
}

ul:active {                 /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}

ul:active{/*børfinneannenmåteåviseatduklikkerpåknappen*/
    background-color:#74ae96;

}
ul img {
    width: 25px;
    height: 25px;
}
/*gjør navbar knappene til sirkler og styler dem*/
#mapicon {
    border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin-bottom: 1ex;
    font-size: 0.8em;
    position: absolute;
    bottom: 55px;
    left: calc(50% - 26px);
}

#mapicon:hover {
    background-color: #74ae96;
}

#mapicon:active { /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}