/* Styler event kortene*/
.event {
    height: max-content;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 0;
    margin-top: 0.5em;
    background: #6CE0B0;
}
#undertitle {
    padding: 20px 0 0 0;
    margin: 0;
}
p {
    margin-top: 1.8em;
    padding-left: 5px;
}
/* Justerer størrelsen på bilde slik at det passer inn i event kortet*/
.bilde {
    width: 100%;
    position:relative;
    height: 75px;
    margin: 0;
}

.info {
    width: 100%;
    position:relative;
    height: max-content;
    margin: 0;
    text-align: left;
    list-style: none;
    padding-top: 5px;
    font-size: 16px;
}
.info p {
    display: inline-block;
    margin: 0;
}

.rightp {
    right: 0;
    position: absolute;
    padding-right: 5px;
}
.bilde img {
    border-radius: 10px;
    object-fit: none;
}


