body {
    padding: 0;
    margin: 0;
}

#main{
    background: linear-gradient(to bottom, #96f8f7 , #6CE0B0) ;
    width: 100%;
    height: calc(100% - 55px); /*placeholder*/
    position: absolute;
    top: 0;
    overflow: auto;
    text-align: center;
}

.event {        /* placeholder */
    height: 400px;
    width: 200px;
    border: solid 2px black;
    display: inline-block;
}

nav{
    height: 55px;
    width: 100%;
    background: #6CE0B0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

ul{                             /*gjør navbar knappene til sirkler og styler dem*/
    border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

ul:hover {
    background-color: #74ae96;
}

ul:active {                 /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: 2px 2px black;
}

ul img {
    width: 25px;
    height: 25px;
}


#header {
    position: absolute;
}
