body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.main{
    background: linear-gradient(to bottom, #96f8f7 , #26a66a); /*Gjør bakgrunnen går fra en farge til en annen*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bakgrunn{
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    opacity: 60%;

}

#settings{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 20px;
    left: 0px;
    text-align: left;

}


.line {
    width: 375px;
    border-bottom: 2px solid #33B29B;
    display: block;
    position: absolute;
    color: #33B29B;
    top: 250px;
}

p{
    font-size: 13px;
}


#Hobbies{
    position: absolute;
    left: 10px;
    top: 100px;
    text-align: center;

}
#Notifications{
    position: absolute;
    right:10px;
    top: 100px;
    text-align: center;
}
#profilepicture{
    position: absolute;
    top: 70px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    float: none;
    display:inline-block;
    vertical-align:middle;
}

#navn{
    position: absolute;
    top: 195px;
    right: 120px;
    font-size: 25px;
    align-content: center;

}

nav{
    height: 55px;
    width: 100%;
    background: #4db88e;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* Gjør navbar knappene til sirkler og styler dem*/
ul{
    /* border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 7px 5px 5px 0;
    font-size: 0.8em;
}

ul:hover {
    background-color: #74ae96;
}

ul:active {                 /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}

ul:active{/*børfinneannenmåteåviseatduklikkerpåknappen*/
    background-color:#74ae96;

}
ul img {
    width: 25px;
    height: 25px;
}
