body{
    background: linear-gradient(to bottom, #96f8f7 , #6CE0B0) ;

}

.boxopacity{




}
#Hobbies{
    position: relative;
    right: 100px;
    top: 200px;



}
#Notifications{
    position: relative;
    left: 500px;
    top: -200px;
}
#profilepicture{
    position: relative;
    bottom: 300px;

}



.profile{
    font-family:helvetica;
    overflow: auto;
    text-align: center;


}

