/* styler bilde som er i bakgrunnen av profilsiden*/
#profile {
    width:375px;
    height: max-content; /* Justerer høyden sånn at den slutter etter siste element i content*/
    margin:auto;
    box-sizing: border-box;
}
#bakgrunn {
    width:375px;
    height: 160px;
    left: 0px;
    top: 0px;
    padding:0;
    margin:0;
    border-bottom: 4px solid #33B29B;
}
.bakgrunnopacity {
    opacity: 60%; /* Gjør diven delvis gjennomsiktig*/
    width:375px;
    height:160px;
}

/* flytter på settingsknappen fra navbaren til oppe i venstre hjørne*/
#settings {
    position: absolute;
    margin: 0px;
    top: 20px;
    padding:10px;
    float: left;
}

/* styler hobbies og notification teksten til en litt mindre størrelse */
p {
    font-size: 13px;
}

/* plasserer hobbies og notifications slik dem er på linje med hverandre */
#Hobbies {
    position: absolute;
    top: 110px;
    float:left;
    text-align: center;
    margin-left: 20px;
}
#Notifications {
    position: absolute;
    float: right;
    top: 110px;
    text-align: center;
    margin-left: 280px;
}

/* styler profilbilde til lise kjellsvik slik det blir en sirkel av png-en */
#profilepicture {
    position: absolute;
    top: 70px;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    justify-content: center;
    margin-left:112px;
}

/* plasserer navnet under bildet */
#navn {
    position: absolute;
    top: 200px;
    width:200px;
    font-size: 25px;
    align-content: center;
    text-align: center;
    margin-left:88px;
}
