/* Gjør sånn at det ikke blir en hvit kant lang sidene på nettleseren*/
body {
    padding: 0;
    margin: 0;
}
/* Styler bakgrunnen*/
#main{
    background: linear-gradient(to bottom, #96f8f7 , #26a66a); /*Gjør bakgrunnen går fra en farge til en annen*/
    width: 100%;
    height: calc(100% - 55px); /*Justerer høyden slik at den ikke er lengre en navigasjonsfeltet nederst på appen*/
    position: absolute;
    top: 0;
    font-family: helvetica, sans-serif;
    overflow: auto;
    text-align: center;
}
/* Styler feltet med søkebar */
.searchbar {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}

.searchbar input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
    display: flex;
}
/* Styler menylisten*/
ol {
    list-style: none;
    text-align: left;
}

li {
    padding-top: 20px;
}
/* Justerer linjen mellom menuitems*/
.line {
    width: 295px;
    border-bottom: 2px solid #33B29B;
    display: block;
    padding-top: 20px;
}
/* Styler logout knappen*/
.logoutbtn {
    height: 35px;
    width: 35px;
    border: none;
    background-size: cover;
    background-image: url("../icons/logout.png"); /*Legger inn bilde av et avslutt tegn*/
    display: flex;
}
/* Styler navigasjonsbaren*/
nav{
    height: 55px;
    width: 100%;
    background: #4db88e;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/*gjør navbar knappene til sirkler og styler dem*/
ul{
    /* border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 7px 5px 5px 0;
    font-size: 0.8em;
}

ul:hover {
    background-color: #74ae96;
}

ul:active {                 /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}

ul:active{/*børfinneannenmåteåviseatduklikkerpåknappen*/
    background-color:#74ae96;

}
ul img {
    width: 25px;
    height: 25px;
}
/*gjør navbar knappene til sirkler og styler dem*/
#mapicon{
    border: solid 1px black; /*fjernes når alt er ok*/
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin-bottom: 1ex;
    font-size: 0.8em;
    position: absolute;
    bottom: 55px;
    left: calc(50% - 26px);
}

#mapicon:hover {
    background-color: #74ae96;
}

#mapicon:active { /* bør finne annen måte å vise at du klikker på knappen*/
    background-color: #74ae96;
    box-shadow: inset 2px 2px black;
    opacity:40%;
}