/* Styler menylisten*/
ol {
    list-style: none;
    text-align: left;
}

li {
    padding-top: 20px;
}
/* Justerer linjen mellom menuitems*/
.line {
    width: 295px;
    border-bottom: 2px solid #33B29B;
    display: block;
    padding-top: 20px;
}
/* Styler logout knappen*/
.logoutbtn {
    height: 35px;
    width: 35px;
    border: none;
    background-size: cover;
    background-image: url("../icons/logout.png"); /*Legger inn bilde av et avslutt tegn*/
    display: flex;
}